@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: url(/imgs/imagemDeBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
}



.header,
.chats .message,
.chats .message .message__content,
.prompt__form {
    margin: 0 auto;
    max-width: 824px;
}

body.hide-header .header {
    margin: 0;
    display: none;
}

.navbar {
    background-color: #1E1F20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar__logo {
    color: #D8D8D8;
    font-weight: 600;
}

.navbar__button {
    padding: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    border: none;
    background: #1E1F20;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.navbar__button:hover {
    background: #333537;
}


.navbar__button#deleteButton {
    margin-left: auto;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    transition: background 0.3s ease;
}

.navbar__button#deleteButton:hover {
    background: #333537;
}

.prompt {
    position: fixed;
    background: var(--primary-color);
    z-index: 1000;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1rem;
}

.prompt__input-wrapper {
    width: 100%;
    display: flex;
    position: relative;
}

.prompt__form-input {
    height: 4rem;
    width: 100%;
    border: none;
    resize: none;
    font-size: 1rem;
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: 100px;
    background: #1E1F20;
    transition: background 0.3s ease;
}

.prompt__form-input:focus {
    background: #282A2C;
}

.prompt__form-input:focus~.prompt__form-button:hover {
    background: #37393B;
}

.prompt__form-input::placeholder {
    color: #ABAFB3;
}

.prompt__form-button {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: transparent;
    transition: all 0.3s ease;
}

.prompt__form-button:hover {
    background: #2f3030;
}

.prompt__form-button#sendButton {
    display: none;
}

.prompt__form-input:valid~.prompt__form-button#sendButton {
    display: flex;
}

.prompt__form-input {
    padding-right: 4rem;
}

.chats {
    padding: 2rem 1rem 10rem;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-color: #999 transparent;
}

.chats .message--incoming {
    margin-top: 1.5rem;
}

.chats .message--outgoing:not(:first-child) {
    margin-top: 40px;
}

.chats .message--outgoing .message__content {
    background-color: rgba(32, 32, 32, 0.703);
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    border: solid gray 1px;
    width: auto;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
}

.chats .message--incoming .message__content {
    padding: 5px;
    width: auto;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
}

.chats .message__text {
    color: #fff;
    white-space: pre-wrap;
    margin-top: 10px;
}

.hide {
    display: none !important;
}

.chats .message--error .message__text {
    color: #e55865;
}

.chats .message--loading .message__text {
    display: none;
}

@keyframes rotate {

    100% {
        transform: rotate(360deg);
    }

}

.chats .message__icon {
    color: #fff;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: 1.25rem;
    margin-top: -25px;
    transition: background 0.3s ease;
}

.chats .message__icon:hover {
    background: #1E1F20;
}

.chats .message__loading-indicator {
    display: none;
    gap: 0.6rem;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

.chats .message--loading .message__loading-indicator {
    display: flex;
}

.chats .message__loading-indicator .message__loading-bar {
    height: 1rem;
    width: 100%;
    border-radius: 0.135rem;
    background-position: -800px 0;
    background: linear-gradient(to right, #2563eb60 30%, var(--primary-color) 60%, #2563eb60);
    animation: loading 3s linear infinite;
}

.chats .message__loading-indicator .message__loading-bar:first-child {
    width: 85%;
}

.chats .message__loading-indicator .message__loading-bar:last-child {
    width: 70%;
}

@keyframes loading {

    0% {
        background-position: -800px 0;
    }

    50% {
        background-position: 0px 0;
    }

    100% {
        background-position: 800px 0;
    }

}

.code__copy-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 10;
    font-size: 18px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style: disc inside;
    margin-left: 20px;
}

ol {
    margin-left: 40px;
}

strong {
    font-weight: bold;
}

em {
    font-size: italic;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

th,
td {
    border: 1px solid;
    text-align: left;
    padding: 10px;
}

pre {
    position: relative;
    background-color: #1E1F20;
    padding: 10px 0 0;
    font-family: monospace;
    font-size: 14px;
    border-radius: 10px;
    margin: 0;
    overflow-x: auto;
}

code {
    margin-top: 30px;
    border-radius: 5px;
    color: inherit;
}

.code__language-label {
    position: absolute;
    font-weight: bold;
    top: 10px;
    left: 12px;
    color: #ABAFB3;
    font-size: 14px;
    text-transform: capitalize;
}

.hljs {
    background-color: #1E1F20;
}

blockquote {
    padding-left: 60px;
    line-height: 2.5rem;
    color: #fff;
}

@media screen and (max-width: 980px) {

    .header {
        padding: 0 2rem;
    }

    .header__title {
        line-height: 2.8rem;
    }

    .header__title h1 {
        font-size: 2.7rem;
    }

    .header__title h2 {
        font-size: 2.5rem;
    }

    .suggests {
        justify-content: center;
    }

    .suggests__item:nth-child(3),
    .suggests__item:nth-child(4) {
        display: none;
    }

    .message {
        padding: 0 1.5rem;
    }

}

#confirmarDelete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(45, 44, 44, 0.9);
    border-radius: 13px;
    color: #D8D8D8;
    border: 2px solid #333;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease;
}

#confirmarDelete:hover {
    background-color: rgba(45, 44, 44, 0.95);
}

#confirmarDelete div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#confirmarDelete button {
    height: 45px;
    width: 110px;
    border-radius: 10px;
    margin: 0 10px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#botaoDeletar {
    background-color: #e74c3c;
}


#botaoDeletar:hover {
    background-color: #c0392b;
    color: black;
}

#botaoCancelar {
    background-color: #95a5a6;
}

#botaoCancelar:hover {
    background-color: #7f8c8d;
}
